In [ ]:
!pip install mysql-connector-python

In [ ]:
import mysql.connector
import random
from random import randint

In [109]:
# Create a connection
mydb = mysql.connector.connect(
 host="localhost" ,
 user="root",
 port = 3306,
 password="Mmeroo135?"
)

In [110]:
# Test
print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x00000237E1B5C9A0>

In [111]:
mydb = mysql.connector.connect(
 host="db4free.net",
 user="sql8578891",
 password="Mmeroo135?",
 database="sql8578891"
)

MS3 Queries

1- Register a user

In [148]:
mydb.reconnect()
mycursor = mydb.cursor()
sql = """
INSERT INTO user_info
VALUES(%s, %s, %s, %s, %s)
"""

ID = randint(1, 10000)
name = input("Please enter your name: ")
dateOfBirth = input("Please enter your date of birth in the format year-month-day: ")
email = input("Please enter your email: ")
gender = input("Please enter your gender: ")
val = (ID, name, dateOfBirth, email, gender);

mycursor.execute(sql, val)

Please enter your name: nada ibrahim
Please enter your date of birth in the format year-month-day: 2013-12-12
Please enter your email: nada@gmail.com
Please enter your gender: female

In [149]:
mydb.commit()

In [151]:
mydb.reconnect()
mycursor = mydb.cursor()
sql = """
SELECT *
FROM user_info
WHERE username = "nada ibrahim";
"""
mycursor.execute(sql)

In [152]:
result = mycursor.fetchall()
print(result)

[(4254, 'nada ibrahim', '2013-12-12', 'nada@gmail.com', 'female')]

2- Add a new user review on an agent

In [154]:
mydb.reconnect()
mycursor = mydb.cursor()
sql = """
INSERT INTO feedback
VALUES(%s, %s, %s, %s, %s)
"""

ID = randint(1, 10000)
name = input("Please enter your username: ")
agentName = input("Please the agent company name(ex: Sakan Real Estate): ")
feedback = input("Please enter your feedback(text): ")
rate = input("Please enter your rating(between 1 and 10): ")
val = (ID, name, agentName, feedback, rate);

mycursor.execute(sql, val)

Please enter your username: nada ibrahim
Please the agent company name(ex: Sakan Real Estate): Sakan Real Estate
Please enter your feedback(text): Good company
Please enter your rating(between 1 and 10): 5.5

In [155]:
mydb.commit()

3- View existing reviews of a given agent

In [ ]:
mydb.reconnect()
mycursor = mydb.cursor()
sql = """
SELECT *
FROM feedback
WHERE agent_name = %s;
"""

agentName = input("Please enter the agent company name(ex: Sakan Real Estate)")
val = (agentName)

mycursor.execute(sql, val)

In [ ]:
result = mycursor.fetchall()
for r in result:
    print(r)

4- View aggregated rating of a brokerage company

In [120]:
mydb.reconnect()
mycursor = mydb.cursor()
sql = """
SELECT avg(rate)
FROM broker B INNER JOIN agent A
ON B.broker_name = A.broker_name
INNER JOIN feedback F
ON F.agent_name = A.agent_name
WHERE B.broker_name = 'El Omda Real Estate';
"""
mycursor.execute(sql)

In [121]:
result = mycursor.fetchall()
print(result)

[(Decimal('4.5000'),)]

5- Show the location of a given development, along with the average price / sqm and the number of 
listings for each unit type

6- Show all the properties of in a certain city, along with the average price / sqm for each unit type

In [135]:
mydb.reconnect()
mycursor = mydb.cursor()
sql = """
SELECT city, avg(price/area) AS 'price/sqm', p_type 
FROM property 
GROUP BY city, p_type;
"""
mycursor.execute(sql)

In [136]:
result = mycursor.fetchall()
for r in result:
    print(r)

('Qalyubia', Decimal('176.51430000'), 'Land')
('Qalyubia', Decimal('629.12692000'), 'Apartment')
('Cairo', Decimal('9107.89413573'), 'Apartment')
('Alexandria', Decimal('1190.50366147'), 'Apartment')
('Red Sea', Decimal('1432.45873288'), 'Apartment')
('Suez', Decimal('8156.75792561'), 'Chalet')
('North Coast', Decimal('11819.22668000'), 'Chalet')
('Cairo', Decimal('319.08906900'), 'Penthouse')
('Cairo', Decimal('5933.80341732'), 'Duplex')
('Cairo', Decimal('665.21148179'), 'Villa')
('Red Sea', Decimal('1557.85560000'), 'Duplex')
('Cairo', Decimal('2583.59117292'), 'Townhouse')
('Giza', Decimal('2531.78872913'), 'Apartment')
('Suez', Decimal('576.37745882'), 'Villa')
('North Coast', Decimal('2065.06179048'), 'Apartment')
('Giza', Decimal('453.89648727'), 'Duplex')
('Suez', Decimal('765.95062000'), 'Townhouse')
('Giza', Decimal('5637.07565741'), 'Villa')
('Al Daqahlya', Decimal('900.22071071'), 'Apartment')
('Red Sea', Decimal('1979.84574615'), 'Chalet')
('Cairo', Decimal('634.99358542'), 'iVilla')
('Giza', Decimal('24520.59046852'), 'iVilla')
('South Sainai', Decimal('309.58569667'), 'Chalet')
('Cairo', Decimal('337.23905000'), 'Twin House')
('Cairo', Decimal('2657.41272105'), 'Hotel Apartment')
('Giza', Decimal('352.09671579'), 'Twin House')
('Matrouh', Decimal('266.14801304'), 'Apartment')
('Giza', Decimal('427.57835957'), 'Townhouse')
('Cairo', Decimal('2218.78763333'), 'Bulk Sale Unit')
('Giza', Decimal('11084.59580370'), 'Penthouse')
('North Coast', Decimal('634.94580000'), 'Villa')
('Giza', Decimal('497.66371739'), 'Land')
('Suez', Decimal('781.21244286'), 'Apartment')
('Alexandria', Decimal('710.66535000'), 'Duplex')
('Giza', Decimal('554.38752000'), 'Compound')
('Suez', Decimal('794.63214000'), 'Duplex')
('Cairo', Decimal('206.50536538'), 'Land')
('Suez', Decimal('873.85888182'), 'Penthouse')
('Matrouh', Decimal('884467.71655000'), 'Chalet')
('North Coast', Decimal('1339.80630000'), 'Twin House')
('Giza', Decimal('1115.02502857'), 'Chalet')
('North Coast', Decimal('1921.81977500'), 'Penthouse')
('Red Sea', Decimal('1419.94805000'), 'Penthouse')
('Cairo', Decimal('1089.36310000'), 'Chalet')
('Al Gharbeya', Decimal('747.20070000'), 'Apartment')
('Qalyubia', Decimal('130.34101667'), 'Villa')
('Cairo', Decimal('675418.02135000'), 'Full Floor')
('Port Saeed', Decimal('202.01056667'), 'Apartment')
('Cairo', Decimal('1658.92500000'), 'Compound')
('Al Gharbeya', Decimal('1114.72360000'), 'Land')
('Asyut', Decimal('115.83330000'), 'Villa')
('Suez', Decimal('593.96018333'), 'Twin House')
('Giza', Decimal('2178.52879167'), 'Bulk Sale Unit')
('Alexandria', Decimal('241.29170000'), 'Villa')
('Alexandria', Decimal('1702.78640000'), 'Chalet')
('Al Daqahlya', Decimal('928.79260000'), 'Duplex')
('Al Menofeya', Decimal('723.02560000'), 'Apartment')
('Sharqia', Decimal('580.72010000'), 'Apartment')

7- Show all the properties in a certain city in a given price range, with a given set of amenities

In [127]:
mydb.reconnect()
mycursor = mydb.cursor()
sql = """
SELECT distinct p_id
FROM property P INNER JOIN amenity A
ON P.p_id = A.property_ID
WHERE city = 'Cairo' AND price > 500000 AND price < 2500000 AND (A.amenity = 'Central A/C' OR A.amenity = 'Central A/C');
"""
mycursor.execute(sql)

In [128]:
result = mycursor.fetchall()
for r in result:
    print(r)

(45,)
(69,)
(70,)
(71,)
(219,)
(221,)
(231,)
(236,)
(244,)
(248,)
(293,)
(352,)
(365,)
(374,)
(383,)
(384,)
(385,)
(418,)
(429,)
(432,)
(437,)
(440,)
(443,)
(448,)
(489,)
(544,)
(640,)
(672,)
(701,)
(731,)
(743,)
(757,)
(759,)
(777,)
(795,)
(807,)
(921,)
(923,)
(969,)
(978,)
(980,)
(993,)
(1000,)
(1001,)
(1043,)
(1046,)
(1057,)
(1059,)
(1090,)
(1094,)
(1095,)
(1146,)
(1154,)
(1180,)
(1189,)
(1204,)
(1219,)
(1227,)
(1245,)
(1281,)
(1287,)
(1335,)
(1346,)
(1354,)
(1396,)
(1410,)
(1436,)
(1563,)
(1579,)
(1587,)
(1590,)
(1650,)
(1659,)
(1674,)
(1675,)
(1680,)
(1681,)
(1682,)
(1706,)
(1722,)
(1727,)
(1730,)
(1739,)
(1905,)
(1961,)
(1989,)
(1994,)
(2018,)
(2023,)
(2029,)
(2063,)
(2090,)
(2106,)
(2110,)
(2116,)
(2140,)
(2165,)
(2207,)
(2210,)
(2224,)
(2226,)
(2240,)
(2255,)
(2272,)
(2275,)
(2292,)
(2305,)
(2325,)
(2333,)
(2343,)
(2365,)
(2371,)
(2397,)
(2454,)
(2480,)
(2486,)
(2487,)
(2519,)
(2563,)
(2565,)
(2566,)
(2577,)
(2592,)
(2602,)
(2624,)
(2649,)
(2671,)
(2718,)
(2751,)
(2753,)
(2774,)
(2807,)
(2815,)
(2825,)
(2826,)
(2832,)
(2837,)
(2839,)
(2845,)
(2857,)
(2858,)
(2862,)
(2864,)
(2866,)
(2869,)
(2873,)
(2885,)
(2899,)
(2939,)
(2960,)
(3018,)
(3061,)
(3068,)
(3070,)
(3090,)
(3095,)
(3096,)
(3102,)
(3108,)
(3109,)
(3110,)
(3174,)
(3189,)
(3232,)
(3236,)
(3244,)
(3248,)
(3251,)
(3281,)
(3288,)
(3299,)
(3300,)
(3319,)
(3328,)
(3362,)
(3363,)
(3375,)
(3399,)
(3441,)
(3460,)
(3464,)
(3470,)
(3484,)
(3495,)
(3497,)
(3518,)
(3523,)
(3526,)
(3534,)
(3542,)
(3554,)
(3561,)
(3565,)
(3574,)
(3590,)
(3591,)
(3596,)
(3642,)
(3666,)
(3799,)
(3801,)
(3802,)
(3803,)
(3805,)
(3826,)
(3864,)
(3865,)
(3871,)
(3893,)
(3909,)
(3928,)
(4120,)
(4142,)
(4152,)
(4182,)
(4205,)
(4272,)
(4355,)
(4430,)
(4457,)
(4458,)
(4505,)
(4530,)
(4556,)
(4572,)
(4595,)
(4605,)
(4614,)
(4619,)
(4621,)
(4629,)
(4638,)
(4646,)
(4665,)
(4674,)
(4677,)
(4682,)
(4750,)
(4751,)
(4793,)
(4794,)
(4795,)
(4798,)
(4799,)
(4800,)
(4801,)
(4802,)
(4835,)
(4836,)
(4857,)
(4862,)
(4939,)
(4952,)
(5042,)
(5069,)
(5118,)
(5141,)
(5146,)
(5178,)
(5203,)
(5231,)
(5232,)
(5263,)
(5270,)
(5275,)
(5334,)
(5381,)
(5400,)
(5405,)
(5421,)
(5471,)
(5487,)
(5489,)
(5493,)
(5502,)
(5508,)
(5536,)
(5553,)
(5571,)
(5577,)
(5592,)
(5604,)
(5653,)
(5671,)
(5690,)
(5710,)

8- Show the top 10 areas in a given city by amount of inventory and price / sqm of a given unit type

In [130]:
mydb.reconnect()
mycursor = mydb.cursor()
sql = """
SELECT address AS 'area', count(p_id) AS 'amount of inventory', avg(price/area) AS 'price/sqm', p_type
FROM property
GROUP BY p_type, address
ORDER BY 2, 3
LIMIT 10;
"""
mycursor.execute(sql)

In [131]:
result = mycursor.fetchall()
for r in result:
    print(r)

('Cairo, New Cairo City, Ganoob El Acadimia', 1, Decimal('0.09290000'), 'Apartment')
('Cairo', 1, Decimal('0.09290000'), 'iVilla')
('Giza, Sheikh Zayed City, Sheikh Zayed Compounds', 1, Decimal('58.05850000'), 'Compound')
('Cairo, Shorouk City, El Shorouk Compounds', 1, Decimal('114.97820000'), 'Townhouse')
('Asyut, Asyut City', 1, Decimal('115.83330000'), 'Villa')
('Cairo, Mostakbal City - Future City, Mostakbal City Compounds', 1, Decimal('120.39050000'), 'Penthouse')
('Giza, 6 October City, 6 October Compounds', 1, Decimal('123.83900000'), 'Compound')
('Cairo, New Cairo City, The 5th Settlement', 1, Decimal('161.90880000'), 'Townhouse')
('Giza, Cairo Alexandria Desert Road', 1, Decimal('174.18990000'), 'Townhouse')
('Cairo, Mokattam', 1, Decimal('198.40060000'), 'Duplex')

9- Show the top 5 brokerage companies by the amount of listings they have, along with their avg price 
/ sqm, number of agents, and average listings per agent

In [132]:
mydb.reconnect()
mycursor = mydb.cursor()
sql = """
SELECT broker_name, sum(active_listing) AS '#active_listing', avg(price/area) AS 'price/sqm', count(agent_name) AS '#agent', (#active_listing/#agent) AS'average listings per agent'
FROM broker INNER JOIN agent
ON broker.broker_name = agent.broker_name
INNER JOIN property 
ON agent.agent_name = property.agent_name
GROUP BY 1
LIMIT 5;
"""
mycursor.execute(sql)

ProgrammingError: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'FROM broker INNER JOIN agent
ON broker.broker_name = agent.broker_name
INNER JOI' at line 2

In [ ]:
result = mycursor.fetchall()
for r in result:
    print(r)

10- Show all the properties listed by a specific agent (given their first and last name and / or phone no)

In [133]:
mydb.reconnect()
mycursor = mydb.cursor()
sql = """
SELECT distinct p_id 
FROM property P INNER JOIN agent A
ON P.agent_name = A.agent_name
WHERE A.agent_name = 'Sakan Real Estate';
"""
mycursor.execute(sql)

In [134]:
result = mycursor.fetchall()
for r in result:
    print(r)

(2999,)
(4040,)
(5819,)

END OF PROJECT 1!